.content-comp {
  box-sizing: border-box;
  padding: 10px 20px;
  background: #fff;
  border: 1px solid #ededed;
  border-radius: 5px;
  margin-top: 10px;
}

.el-button /deep/ i{
  font-size: 14px;
  font-weight: bold;
}

.page-pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  padding: 0 20px;
}
